<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project: Recrd Chaser</title>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/assets/favicon/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/public/assets/site.css">
  </head>
    <div>
      <header>
        <h1>Project: Record Chaser</h1>
      </header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/calculator">Caclulator</a></li>
        </ul>
      </nav>
    </div>
</html>




