<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
</head>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>About Project: Record Chaser</h1>
      <h5 class="w3-padding-32">A Software-Quality-Control Project</h5>

      <p class="w3-text-grey">THis project was started out of interest in Ovechkin's journey through the all time goal scorer list. My original idea was to have a project that I use to learn about API calls so I can update the database after each Washington Capitals game.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Project Roadmap</h1>
      <h5 class="w3-padding-32">What's on the docket?</h5>

      <p class="w3-text-grey">The groundwork has been laid, API calls to store a season schedule in our psqsl database, and we then use a query to return a gameID for the day and call the API to get game box score information for that game. Updating the information if the game has been completed.
      What's next is for us to create a dynamic way to import the completed seasons from Ovechkin's career. After we have all of the completed games & seasons, we can start to look at what his highest scoring seasons were. Along with adding functionality to 'predict' what he will end his career with for all time goals, based on his career average. 
      After that, we'd like to rework how the imported latest game is displayed. Currently, it only gets imported to our database with a very short message. We will be changing this to always display the latest game & goal on our home screen, along with details of that game.
      </p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: Russian Machine Never Break</h1>
</div>

</html>