<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
</head>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Chasing Gretzky</h1>
      <h5 class="w3-padding-32">View Seasons</h5>

      <p class="w3-text-grey">This area is being reserved for a view of the last 5 season for Ovechkin, so we can see his total goals for the last few years.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>What goes into our "calcualtion?", well really it's...</h1>
      <h5 class="w3-padding-32">Currently nothing!</h5>

      <p class="w3-text-grey">This is the biggest TO-DO on our list. Update this with some fun buttons so we can see what some of the best games OV has had, who he has scored the most against, and to just check and see if he's on pace for breaking the record. Until then, this is just to be a place holder.</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: Russian Machine Never Break</h1>
</div>

</html>