<!DOCTYPE html>
<html lang="en">
<head>
  <title>Colors</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- TODO: Link to the stylesheet -->
  <link href="/public/site.css" type="css" rel="stylesheet" crossorigin="anonymous">
</head>
<body id="body">
  <main>
    <body id="body">
      <main>
        <h1>This is the Index Page</h1>
      </main>
      <script>
    
      </script>
    </body>
    </html>